<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/Images/weather.jfif">
        <title>About</title>
        <link rel="stylesheet" href="/CSS/styles.css">
        <body>
            <div class='main-content'>
                 {{>header}}
                 <p>This web site uses data from mapbox.com and darksky.net</p>
            <img class='potrait' src="/Images/Snapchat-207982009.jpg">
            </div>
           
            {{>footer}}
        </body>
    </head>
</html>