<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/Images/weather.jfif">
        <title>Help</title>
        <link rel="stylesheet" href="./CSS/styles.css">
        <body>

                  
            <div class='main-content'>
                {{>header}}
            
            
            <p>{{help}}</p> 

            </div>

            {{>footer}}
        </body>
        
    </head>
</html>